
body{
    background-color: #573b45;
    
  }
  
  .my_class {
  display: grid;
  grid-template: "nav nav nav nav"
  "article article article article " 
  "footer footer footer footer";
  grid-template-rows: 160px 1fr 160px;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 0px;
  height: 100%;
  }
  
  nav {
   color: #573b45;
  grid-area: nav;
  flex-direction: column;
  display: inline-block;
  background-image: url(../PIC/קישורים.jpg);
  color: #573b45;
  
  }
  
  article {
  grid-area: article;
  
  background-size: 100%;
  
  height:800px;
  background-color: rgb(249, 249, 252);
  background-image: url("../PIC/shopecat.jpg");
  background-repeat:no-repeat;
  }
  
  footer {
  grid-area: footer;
  height: 100%;
  background-color:#573b45;
  }
  
  /* .div1 {
      margin-top: 20px;
    width: 100%;
    height: 100px;
    border-bottom: 7px solid #8a2734;
    /* position: fixed; */
  /* } */
  
  
  
  #links{
     font-family: Amatic SC; 
      color: #573b45;
      margin-left: 70%;
      font-size:40px;
      margin-top: -50px;
  }
  
  .my:hover{
    background-color: rgb(211, 208, 208);
    border-bottom: solid -53px;
    }
  #Layer_1{
    margin-top: 6%;
    margin-left: 3%;
    border-bottom: solid 2px gray;
  
  
  }
  #Layer_2{
    margin-left: 20px;
    border-bottom: solid 2px gray;
  
  }
  
  #Layer_2:hover{
  background-color: rgb(212, 211, 211);
  border-radius: 20px;
  border-bottom: unset;
  }
  #icons{
    margin-left: 5%;
  }
  
  #Layer_1:hover{
    background-color: rgb(212, 211, 211);
    border-radius: 20px;
    border-bottom: unset;
    }
  
    .w3-button{
      background-color: unset;
      border: unset;
    }
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  #formlogin{
    background-color: white;
    width: 50px;
  }
  
  #hello{
    font-family: Amatic SC;
    font-size:x-large;
   border: solid 1px #573b45;
    border-radius: 3px; 
  margin-right: 13px;
  }
  #countcart{
    border-radius: 20px;
    /* height: 4px;
    width: 1px; */
    padding: 2px 7px ;
    width: 6px;
    height: 17px;
    border: none;
    font-size: small;
    text-align: center;
    background-color:#573b45;
    color: white;
   
  }
  .row{
direction: rtl;
    display: flex;
   width: 60%;
   margin-left: 10%;
  }
.col-50{
  /* margin-left: 12%; */
  margin-top: 10%;
}

.btn{
margin-bottom: 20px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
margin-top: 60px;

}

